<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" lang="es"  >

<head th:replace="~{layout::head}"></head>

<body>
    <header th:replace="~{layout::header}"></header>

    <div class="container p-3">
        <h1>Cliente</h1>
        <form th:object="${cliente}">
            <input type="hidden" th:field="*{id}">
            <div class="mb-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" th:field="*{nombre}" disabled>
            </div>
            <div class="mb-4">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" th:field="*{apellidos}" disabled>
            </div>
            <a href="/clientes" class="btn btn-success">Aceptar</a>
        </form>
    </div>


    <footer th:replace="~{layout::footer}"></footer>
</body>
</html>